In [1]:
import pandas as pd
import numpy as np
from os import path,listdir

In [2]:
location = path.join('..','derivatives','main_trial_level_cleaned.csv')
nback_subject = pd.read_csv(path.join('..','derivatives', 'subjectwise','nback_subject_level.csv'))
sheet=pd.read_csv(location) #opening the excel file - trial level data
sheet.head()

,Unnamed: 0,SubjNum,AgeGroup,ExperimenterName,RunNum,Date,Time,TrialNum,TrialNumbydomdist,Domain,...,StockNumber,BondNumber,GenderJudgment,TotalPayout,TrueProbGood,EstWithinRange?,val_estdiff_valid,absolute_error,val_error_3sd_removed,abs_error_3sd_removed
0,0,100,1,kf,1,10_12,11:31:01.963000,1,1,LOSS,...,16,9,1,-6,0.300000,0,2.000001e-01,2.000001e-01,2.000001e-01,2.000001e-01
1,1,100,1,kf,1,10_12,11:31:01.963000,2,2,LOSS,...,16,9,1,-12,0.155172,0,1.448277e-01,1.448277e-01,1.448277e-01,1.448277e-01
2,2,100,1,kf,1,10_12,11:31:01.963000,3,3,LOSS,...,16,9,1,-18,0.300000,1,1.038193e-07,1.038193e-07,1.038193e-07,1.038193e-07
3,3,100,1,kf,1,10_12,11:31:01.963000,4,4,LOSS,...,16,9,1,-24,0.500000,0,-1.000000e-01,1.000000e-01,-1.000000e-01,1.000000e-01
4,4,100,1,kf,1,10_12,11:31:01.963000,5,5,LOSS,...,16,9,1,-26,0.700000,0,-1.000001e-01,1.000001e-01,-1.000001e-01,1.000001e-01

In [3]:
df = sheet.groupby(["SubjNum","StockValue"]).mean().reset_index()  #groupig things by subjnum and stock value
df.head()

,SubjNum,StockValue,Unnamed: 0,AgeGroup,RunNum,TrialNum,TrialNumbydomdist,FracST,FracRT,FaceST,...,StockNumber,BondNumber,GenderJudgment,TotalPayout,TrueProbGood,EstWithinRange?,val_estdiff_valid,absolute_error,val_error_3sd_removed,abs_error_3sd_removed
0,100,-10,38.333333,1.0,7.000000,3.333333,8.666667,2.142287e+06,4.634181,2.142293e+06,...,14.277778,10.333333,1.000000,19.555556,0.276485,0.111111,0.106848,0.143185,0.106848,0.143185
1,100,-2,30.666667,1.0,5.666667,3.666667,10.333333,2.142128e+06,3.434707,2.142132e+06,...,17.388889,14.333333,1.000000,-1.333333,0.669523,0.222222,-0.125079,0.152282,-0.125079,0.152282
2,100,2,32.333333,1.0,6.047619,3.047619,9.047619,2.142172e+06,2.375239,2.142176e+06,...,11.380952,7.714286,1.000000,9.142857,0.203618,0.095238,0.163049,0.186366,0.163049,0.186366
3,100,10,42.333333,1.0,7.533333,4.133333,10.133333,2.142368e+06,2.848761,2.142372e+06,...,12.466667,13.200000,1.000000,29.333333,0.515451,0.133333,0.017882,0.186715,0.017882,0.186715
4,101,-10,99.705882,1.0,5.235294,3.294118,9.647059,2.148198e+06,3.957810,2.148203e+06,...,11.647059,8.705882,0.941176,-19.529412,0.307429,0.588235,0.033747,0.040847,0.033747,0.040847

we made G10, G2, L10, L2 here:

In [4]:
four_errors = df.pivot(index='SubjNum',columns='StockValue',values='val_error_3sd_removed') #pivot it into what we want: each subject has four prob. errors

In [5]:
result=sheet.groupby('SubjNum', as_index=False).mean().merge(four_errors, on='SubjNum')

## Merge main task and nback data

In [6]:
result.rename(columns={'SubjNum': 'sub'}, inplace=True)
main_task_nback = pd.merge(result, nback_subject, on="sub")

In [7]:
#result=pd.merge(sheet, four_errors, on='SubjNum')
#result.head()
#result=result.groupby(["SubjNum"]).mean().reset_index()
main_task_nback.to_csv("subject_level_data_four_errors.csv") #this outputs in the code directory

In [8]:
#This is how you get a single row from a multi-index data frame:
#df.loc[(100,'GAIN')]