In [1]:
import pandas as pd
import numpy as np
from os import path,listdir
location = path.join('..','derivatives','main_trial_level.csv')
sheet=pd.read_csv(location) #opening the excel file - trial level data
sheet.head()

,SubjNum,AgeGroup,ExperimenterName,RunNum,Date,Time,TrialNum,TrialNumbydomdist,Domain,Magnitude,...,Confidence,ConfidenceST,ConfidenceRT,StockNumber,BondNumber,GenderJudgment,TotalPayout,TrueProbGood,EstWithinRange?,val_estdiff_valid
0,401,2,xw,1,09_17,10:26:48.656000,1,1,GAIN,high,...,75,1.457099e+06,6.063213,19,16,1,10,0.700000,1,-1.038193e-07
1,401,2,xw,1,09_17,10:26:48.656000,2,2,GAIN,high,...,8,1.457125e+06,4.995790,19,16,1,20,0.844828,0,-1.448277e-01
2,401,2,xw,1,09_17,10:26:48.656000,3,3,GAIN,high,...,9,1.457146e+06,3.483579,19,16,1,30,0.927027,0,-2.270271e-01
3,401,2,xw,1,09_17,10:26:48.656000,4,4,GAIN,high,...,9,1.457162e+06,2.075640,19,16,1,40,0.967365,0,-1.673651e-01
4,401,2,xw,1,09_17,10:26:48.656000,5,5,GAIN,high,...,8,1.457177e+06,4.204404,19,16,1,42,0.927027,0,-1.770271e-01

In [2]:
sheet[['stock_chosen','bond_chosen']] = pd.get_dummies(sheet['OptionChosen'])[['stock','bond']]
sheet.head()

,SubjNum,AgeGroup,ExperimenterName,RunNum,Date,Time,TrialNum,TrialNumbydomdist,Domain,Magnitude,...,ConfidenceRT,StockNumber,BondNumber,GenderJudgment,TotalPayout,TrueProbGood,EstWithinRange?,val_estdiff_valid,stock_chosen,bond_chosen
0,401,2,xw,1,09_17,10:26:48.656000,1,1,GAIN,high,...,6.063213,19,16,1,10,0.700000,1,-1.038193e-07,1,0
1,401,2,xw,1,09_17,10:26:48.656000,2,2,GAIN,high,...,4.995790,19,16,1,20,0.844828,0,-1.448277e-01,1,0
2,401,2,xw,1,09_17,10:26:48.656000,3,3,GAIN,high,...,3.483579,19,16,1,30,0.927027,0,-2.270271e-01,1,0
3,401,2,xw,1,09_17,10:26:48.656000,4,4,GAIN,high,...,2.075640,19,16,1,40,0.967365,0,-1.673651e-01,1,0
4,401,2,xw,1,09_17,10:26:48.656000,5,5,GAIN,high,...,4.204404,19,16,1,42,0.927027,0,-1.770271e-01,1,0

df = sheet[['SubjNum','TrialNum','OptionChosen']]

stockchosen=df[(df['OptionChosen'] == 'stock') & (df['TrialNum'] == 1)].groupby('SubjNum').count()['TrialNum']
stockchosen.head()

In [3]:
df = sheet[['SubjNum','TrialNum','stock_chosen','bond_chosen', "Domain"]]
df.head()

   SubjNum  TrialNum  stock_chosen  bond_chosen Domain
0      401         1             1            0   GAIN
1      401         2             1            0   GAIN
2      401         3             1            0   GAIN
3      401         4             1            0   GAIN
4      401         5             1            0   GAIN

In [4]:
gain_stock_sum_mean = df[(df['TrialNum'] == 1) & (df['Domain'] == 'GAIN')].groupby('SubjNum').agg({'stock_chosen':['sum','mean']})
loss_stock_sum_mean = df[(df['TrialNum'] == 1) & (df['Domain'] == 'LOSS')].groupby('SubjNum').agg({'stock_chosen':['sum','mean']})

In [5]:
gain_stock_frequency = gain_stock_sum_mean[('stock_chosen','mean')]

In [6]:
loss_stock_frequency = loss_stock_sum_mean[('stock_chosen','mean')]

In [7]:
result=sheet.groupby('SubjNum').mean()
result.head()

,AgeGroup,RunNum,TrialNum,TrialNumbydomdist,FracST,FracRT,StockValue,FaceST,FaceRT,ProbGood,...,ConfidenceRT,StockNumber,BondNumber,GenderJudgment,TotalPayout,TrueProbGood,EstWithinRange?,val_estdiff_valid,stock_chosen,bond_chosen
SubjNum,,,,,,,,,,,,,,,,,,,,,
100,1.0,6.5,3.5,9.5,2.142231e+06,3.303492,-0.333333,2.142235e+06,2.823693,0.450000,...,3.306227,13.833333,11.166667,1.000000,13.333333,0.403276,0.138889,0.046724,0.236111,0.763889
101,1.0,6.5,3.5,9.5,2.148327e+06,3.151583,0.444444,2.148331e+06,2.068188,0.511667,...,1.785312,12.000000,13.000000,0.972222,-21.111111,0.526093,0.527778,-0.014427,0.513889,0.486111
102,1.0,6.5,3.5,9.5,2.155802e+06,4.862018,-0.666667,2.155808e+06,3.238044,0.422917,...,3.755544,12.833333,12.166667,0.958333,-86.166667,0.408449,0.486111,0.014467,0.430556,0.569444
103,1.0,6.5,3.5,9.5,2.415893e+06,5.366772,0.000000,2.415900e+06,4.294079,0.516667,...,2.831551,10.916667,14.083333,0.972222,24.222222,0.480494,0.152778,0.036173,0.777778,0.222222
104,1.0,6.5,3.5,9.5,2.420087e+06,2.795020,0.111111,2.420091e+06,2.288876,0.536528,...,1.988468,14.250000,10.750000,0.972222,53.055556,0.466446,0.055556,0.070082,0.541667,0.458333

In [8]:
result['gain_stock_chosen'] = gain_stock_frequency
result['loss_stock_chosen'] = loss_stock_frequency
result.head()

,AgeGroup,RunNum,TrialNum,TrialNumbydomdist,FracST,FracRT,StockValue,FaceST,FaceRT,ProbGood,...,BondNumber,GenderJudgment,TotalPayout,TrueProbGood,EstWithinRange?,val_estdiff_valid,stock_chosen,bond_chosen,gain_stock_chosen,loss_stock_chosen
SubjNum,,,,,,,,,,,,,,,,,,,,,
100,1.0,6.5,3.5,9.5,2.142231e+06,3.303492,-0.333333,2.142235e+06,2.823693,0.450000,...,11.166667,1.000000,13.333333,0.403276,0.138889,0.046724,0.236111,0.763889,0.000000,0.000000
101,1.0,6.5,3.5,9.5,2.148327e+06,3.151583,0.444444,2.148331e+06,2.068188,0.511667,...,13.000000,0.972222,-21.111111,0.526093,0.527778,-0.014427,0.513889,0.486111,0.000000,0.666667
102,1.0,6.5,3.5,9.5,2.155802e+06,4.862018,-0.666667,2.155808e+06,3.238044,0.422917,...,12.166667,0.958333,-86.166667,0.408449,0.486111,0.014467,0.430556,0.569444,0.333333,0.666667
103,1.0,6.5,3.5,9.5,2.415893e+06,5.366772,0.000000,2.415900e+06,4.294079,0.516667,...,14.083333,0.972222,24.222222,0.480494,0.152778,0.036173,0.777778,0.222222,0.833333,0.833333
104,1.0,6.5,3.5,9.5,2.420087e+06,2.795020,0.111111,2.420091e+06,2.288876,0.536528,...,10.750000,0.972222,53.055556,0.466446,0.055556,0.070082,0.541667,0.458333,0.833333,0.833333

#create two variables. how many times people picked stock on 1st trial in gain/loss domain
stockchosen_gain=df[(df['OptionChosen'] == 'stock') & (df['TrialNum'] == 1) & (df['Domain'] == 'GAIN')].groupby('SubjNum').count()['TrialNum']
stockchosen_loss=df[(df['OptionChosen'] == 'stock') & (df['TrialNum'] == 1) & (df['Domain'] == 'LOSS')].groupby('SubjNum').count()['TrialNum']
stockchosen_gain.head()

result=sheet.groupby('SubjNum').mean().merge(stockchosen_gain.to_frame(), on='SubjNum').merge(stockchosen_loss.to_frame(), on='SubjNum')
#result=sheet.groupby('SubjNum').mean().merge(stockchosen_loss.to_frame(), on='SubjNum')

result

In [9]:
result.to_csv("subject_level_risk_taking.csv")